@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(100px); }
  to { opacity: 1; transform: translateY(0); }
}

* {
  cursor: auto;
  scrollbar-width: none;
}

@media (hover: hover) {
  * {
    cursor: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

a, li {
  padding: 0.3rem 0.5rem;
}